body {
    font-family:"Roboto", sans-serif;
    color:#434455;
    background-color:#FFFFFF;
}
a{
    text-decoration: none;
}
ul{
    list-style:none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display:block;
}
.container{
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
.visually-hidden {
     position: absolute;
     width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
 white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;

 }
.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav {
display: flex;
align-items: center;
}

.header-logo {
    font-family:"Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
margin-right:76px ;
}

.header-logo span {
  color: #2E2F42;
}

.header-menu-list {
display: flex;
align-items: center;
gap: 40px;
}
.header-container {
display:flex;
align-items:center;
}
.header-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding: 24px 0;
        display: block;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link.active{
    position: relative;
    color:#404bbf;
}
.header-menu-link.active::after {
   position:absolute;
    content:"";
   width:100%;
   display:block;
   height: 4px;
   background-color:#404BBF; 
   border-radius: 2px;
   bottom:-1px;
   left:0;

}
.header-menu-link:hover, .header-menu-item:focus{
    color:#404BBF
}

.header-contcat {
font-style: normal;
margin-left:auto;
}

.header-contact-list{
    display: flex;
    margin-left: auto;
    gap: 40px;
}

.header-contact-item{
    align-items:center;
    gap:40px;
    padding: 24px 0;
}
.header-contact-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-info:hover, .header-contact-info:focus{
    color: #404BBF
}

.hero {
    background-color: #2E2F42;
    padding:188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/img-office.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-size:cover;
}
.hero-title{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-align:center;
        max-width: 496px;
        margin:0 auto;
        margin-bottom: 48px;
}
.hero-btn {
        font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: #4D5AE5;
        cursor: pointer;
        min-width: 169px;
        height: 56px;
        margin-top: 48px;
        border-radius: 4px;
        margin:auto;
        display:block;
        border:none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .title-btn:focus{
    background-color: #404BBF
}



.features{
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-list{
gap: 24px;
display:flex;
}
.features-item{
    width:calc((100% - 72px)/4);
}
.features-icon-background{
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
        justify-content: center;
        display: flex;
        align-items: center;
}
.features-icon{
   margin-top: 24px;
   margin-bottom: 24px;
}
.features-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
        margin-top: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team {
background: #F4F4FD;
padding:120px 0;

}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
        margin-bottom: 72px;
        border-radius: 0px 0px 4px 4px;
}
.team-list {
    background-color:#f4f4fd;
    display: flex;
    gap: 24px;
    
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((264 - 3*24px)/4);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.team-img {
    
}
.team-info-container {
    padding:32px 0;
}
.team-member {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 8px;
}

.team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-top: 8px;
}

.team-contacts-list{
    display:flex;
gap: 24px;
justify-content: center;
}

.team-contacts-item {

}

.team-contacts-link {
   background-color: #4d5ae5;
   border-radius: 50%;
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contacts-icon {
    fill:#f4f4fd;
}
.team-contacts-link:hover ,.team-contacts-link:focus{
    background-color: #404bbf;
}

.portfolio {
padding-top: 120px;
padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
display:flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap:48px;
}
.portfolio-item{
flex-basis:calc((100 - 3*24px)/6);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .banking-app-cover-text{
    transform:translateY(0);

}
.portfolio-item:hover ,.portfolio-item:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-img {

}
.bank-app-cover-wrap{
    position:relative;
    overflow:hidden;
}
.banking-app-cover-text{
    position:absolute;
    background-color: #4d5ae5;
    color:#f4f4fd;
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        top:0;
        width:100%;
        left:0;
        height:100%;
        transform: translateY(100%);
        transition: transform 300ms;
        padding: 40px 32px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-info-container{
padding:32px 16px;
border:1px solid #e7e9fc;
border-top:none;
}
.portfolio-item-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-top: 8px;
}
.footer {
    background-color: #2E2F42;
    padding:100px 0;
}
.container-footer{
    display: flex;
align-items: baseline;

}
.footer-paragraph{
margin-right: 120px;
}
.footer-logo {
    font-family:"Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
    display:inline-block;
    margin-bottom:16px;
}
.footer-logo-span {
color:#F4F4FD
}


.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    
}
.footer-soc-media-container{

}

.footer-soc-media-text {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-contacts-link:hover ,.footer-contacts-link:focus{
    background-color: #31D0AA;
}
.footer-contacts-list{
    gap:16px;
}
.footer-contacts-icon{
    fill:#F4F4FD;
}
.footer-container-subscribe{
margin-left:auto;
}
.footer-subscribe-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        display: inline-block;
}
.footer-form{
    display:flex;
    gap:24px;
}
.footer-label {}

.footer-wrapper {
    display:flex;
    gap:24px;
}

.footer-input {
    border: 1px solid #ffffff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background-color: transparent;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color:#ffffff;
}
.footer-input::placeholder{
    font-weight: 400;
        font-size: 12px;
        line-height: 200%;
        letter-spacing: 0.04em;
        color: #fff;
}

.footer-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      border-radius: 4px;
      min-width: 165px;
     height: 40px;
     background-color: #4d5ae5;
     fill: #fff;
     gap: 16px;
     display: flex;
     cursor: pointer;
    border: none;
}
.footer-btn-icon{
    margin-left: 16px;
}

.backdrop{
    width:100%;
    height: 100%;
    position:fixed;
    top:0;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
     opacity:0;
    visibility: hidden;
    pointer-events: none; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto;
}
.modal{
    width: 408px;
    min-height: 584px;
    position:absolute;
    background-color: #fcfcfc;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 8px;
}
.modal-open {
margin-left: auto;
border-radius: 50%;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
margin-bottom: 24px;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
padding:0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-open:hover ,.modal-open:focus{
    background-color: #404BBF;
    fill:#FFFFFF;
    border:none;

}

.modal-title{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        max-width: 360px;
        margin-bottom: 16px;
}
.modal-form{

}
.modal-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        padding-left: 38px;
        outline: transparent;
        background-color: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
border-color: #4d5ae5;

}
.modal-input:focus + .modal-icon {
fill: #4d5ae5;

}
.modal-label{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display:block;
        margin-bottom: 4px;
}
.modal-field{
    margin-bottom: 8px;
}
.modal-icon{
position:absolute;
left:16px;
bottom:50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
top: 50%;
}
.modal-field-comment{
    margin-bottom: 16px;
}
.input-wrapper{
    position: relative;
}
.modal-textarea{
    width: 360px;
    min-height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.modal-textarea:focus{
    border-color: #4D5AE5;
}
.modal-textarea::placeholder {
font-weight: 400;
font-size: 12px;
letter-spacing: 0.04em;
}
.modal-check-text{
    font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #8e8f99;
        align-items: center;
        line-height: 1.17;
        margin-left: 8px;
}

.modal-check-text span{
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
margin-right: 8px;
}

.modal-check-policy{
    color:#4d5ae5;
}
.modal-check:checked + .modal-check-text span{
background-color: #404bbf;
fill:#f4f4fd;
border: none;
}
.modal-field-checkbox{
    margin-bottom: 24px;
}
.modal-btn{
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
       margin-top: 24px;
       margin-bottom: 24px;
      margin-left: 95px;
      display: block;
      cursor:pointer;
      border:none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}